<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hdplayer.latestvideo.xvideoplayer.saxvideos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.utils.PreferenceManager"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:overrideLibrary="androidx.test.espresso,com.intuit.sdp"
        tools:replace="android:name,android:label,android:theme">

        <activity android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.RandomVideoPlayer"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.AppSelection" />
        <activity
            android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.StartNowScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.VideoPlayerDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.VideoFolderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.SearchingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.VideoPlayActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.hdplayer.latestvideo.xvideoplayer.saxvideos.VideoCallingActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="64ff8651b0cc88c2a9a82fe954152a6a772ae1e1" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>